.app {
  background-color: #222222;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  min-height: 100vh;
}

header {
  background-color: #57a3d5;
  color: #222222;
  box-sizing: border-box;
  padding: 2rem;
  font-weight: 800;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.card {
  background-color: #ebebeb;
  color: #222222;
  box-sizing: border-box;
  padding: 2rem;
  width: 50rem;
  position: relative;
}

.card-position-indicator {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-name {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #57a3d5;
}

.card-details-container {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.employee-detail {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.employee-detail-title {
  font-weight: 700;
}

.employee-movies-container {
  box-sizing: border-box;
  margin-top: 0.75rem;
  margin-left: 3rem;
}

.employee-movie {
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-row {
  box-sizing: border-box;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  background-color: #222222;
  border: none;
  color: #ebebeb;
  font-weight: 800;
  font-size: 1.1rem;
}

.nav-button:hover {
  color: #ffffff;
}

.action-button {
  background-color: #57a3d5;
  color: #ebebeb;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}
